body {
    margin: 0;
    padding: 0;
    overflow:hidden ;
    user-select: none;
    background:
    linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
    linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #82ebd1;
}


.box {
    width:200px;
    height: 200px;
    border-radius: 50px;
    background-color: gold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    cursor: move;
    overflow: hidden;
    transition: transform 0.5s ease,opacity 0.5s ease;
    
}
.box:hover{
    transform: scale(1.1);
}
#add {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.textbox {
    background-color: transparent;
    border: none;
    outline: none;
    width: 70%;
    height: 70%;
    font-size: 15px;
    font-weight: 600;
    margin: 25px;
    margin-left: 36px;
    resize: none;
    overflow-y: scroll;
    margin-right: -50px;
    padding-right: 50px;
    cursor: move;
    font-family: "Edu AU VIC WA NT Hand", cursive;
}
#menubar {
    border: 2px solid black;
    border-radius: 50px;
    width: 50px;
    height: 350px;
    background-color: black;
    margin-top: 160px;
    margin-left: 10px;
    box-shadow: 5px 5px 20px rgba(98, 96, 96, 0.3);
    color: white;
    position: fixed;
}

#maindiv {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    
    top: 0;
    left: 0;
}

#add {
    margin-left: 100px;
}

.deleteall {
    
    
    font-size: 32px;
    margin-left: 8px;
    margin-top: 15px;
    cursor: pointer;
}
.addnote {
    
        
    font-size: 30px;
    margin-left: 9px;
    margin-top: 40px;
    cursor: pointer;
}
.delete{
    
    
    font-size: 30px;
    margin-left: 9px;
    margin-top: 15px;
    cursor: pointer;
}
.bgcolor{
    
    
    font-size: 30px;
    margin-left: 9px;
    margin-top: 15px;
    cursor: pointer;
}
.textcolor{
    
    
    font-size: 30px;
    margin-left: 9px;
    margin-top: 12px;
    cursor: pointer;
}
.dark_mode{
    
    font-size: 30px;
    margin-left: 9px;
    margin-top: 15px;
    cursor: pointer;
}
.light_mode{
    
    font-size: 30px;
    margin-left: 9px;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}
.material-symbols-outline{
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}
#colorpicker{
    display: none;
}
#colorpicker2{
    display: none;
}
#instruction{
    position: fixed;
    margin-top: 140px;
    margin-left: 400px;
    line-height: 40px;
    font-weight: 500;
    font-size: 15px;
    color: black;
    z-index: 30;
}
